body {
  text-align: center;
  font-family: Cursed Timer ULiL;
  background-color: #1b244a;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

p {
  border: #9aabd8 solid 2px;
  color: #9aabd8;
  padding: 10px;
  cursor: pointer;
}

h3 {
  color: white;
  font-family: verdana;
  font-size: 30px;
  margin: 20px 0;
}

h2 {
  color: white;
  font-size: 70px;
  margin: 20px 0;
}

h4 {
  font-family: verdana;
  font-size: 26px;
  color: #9aabd8;
}

.score {
  margin: 0 40px;
  padding: 60px;
  background: black;
  border-radius: 5px;
  width: 70px;
}

.points {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: 15px 15px;
}

button {
  padding: 30px;
  background: black;
  font-weight: bolder;
  border: none;
  color: #9aabd8;
  margin-top: 400px;
}
